{{> head }}


{{> navbar }}

    <div class="col-8">
        <h1>Título</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut rerum corrupti delectus quibusdam nihil. Dolorem at, ut, rerum architecto nesciunt ab ipsum recusandae assumenda totam laborum molestiae eius commodi vitae.</p>
    </div>
    <div class="col-4">
        <img src="assets/img/Koala.jpg" class="img-thumbnail">
    </div>  

{{> footer }}